body {
  background-color: #1E1D23;
  padding: 60px;
}

div {
  display: block;
}

.info {
  margin-bottom: 70px;
  margin-left: 60px;
}

.left {
  float: left;
  margin: 20px 60px 40px 0px;
  width: 360px;
}

.content {
  margin-left: 60px;
}

h1 {
  font-family: Futura-Medium, sans-serif;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 1px;
}

h3 {
  font-family: Futura-Medium, sans-serif;
  font-size: 10px;
  color: #FFFFFF;
  letter-spacing: 2.5px;
}

p {
  color: #5C596C;
  font-family: MinionPro-Regular, sans-serif;
  font-size: 16px;
  letter-spacing: 0.8px;
  line-height: 22px;
}

a {
  color: #8E7EF0;
  text-decoration: none;
}

a:hover {
  color: #A79CF6;
}

a:visited {
  text-decoration: none;
}

@media screen and (min-width: 220px) {
  body {
    padding: 40px 24px;
  }
    h1 {
    font-size: 50px;
  }
}

@media screen and (min-width: 480px) {
  body {
    padding: 40px 35px;
  }
}

@media screen and (min-width: 540px) { 
  body {
    padding: 60px;
  }
}